{% extends 'base.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Riviera Serie - Application de gestion de séries</h1>

    <form action="/register" method="get">
        <input type="submit" value="S'inscrire"/>
    </form>

    <form action="/login" method="get">
        <input type="submit" value="Se connecter"/>
    </form>

    <h1 style="color:red">
        {% if app.request.get('message') == 'serie_updated' %}
            Série modifiée avec succès
        {% elseif app.request.get('message') == 'serie_created' %}
            Série créée avec succès
        {% elseif app.request.get('message') == 'serie_removed' %}
            Série supprimée avec succès
        {% endif %}
    </h1>
    <table style="width: 80vw; margin-left: 10vw; text-align: center;" border="1">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {%  for s in series %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.author }}</td>
                <td>{{ s.description }}</td>
                <td>
                    <form action="/series/update" method="post">
                        <input id="updating" name="updating" type="hidden" value="{{ s.id }}"/>
                        <input type="submit" value="Modifier"/>
                    </form>
                    <form action="/series/delete" method="post">
                        <input id="id_serie" name="id_serie" type="hidden" value="{{ s.id }}"/>
                        <input type="submit" value="Supprimer"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    </br>

    {% include 'default/pagination.html.twig' %}

    </br>
    <a href="/series/create">Insérer une série dans la BDD</a>
{% endblock %}
